h1{
    color:brown;
}
*{
    font-style: italic;
    border:black;
}
.header{
    background-color: chartreuse;
    display:flex;
    justify-content:space-between;
}

.footer{
    background-color:blueviolet;
    display:flex;
    justify-content: flex-end;
}

.grid{
    background-color: cyan;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}